cover
complete
/checks/
/picorv32.v
/disasm.s
/disasm.o

# Environment directories built by make_env
/env
/env_build

# SandPiper(TM) SaaS Edition output directory
/out
/m4_include_url_file*
/sv_url_inc
